* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --bg-color: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #3333333;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
@media (min-width: 1500px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1500px!important;
  }
}
@media (min-width: 1400px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1400px!important;
  }
}


/* navbar gb  */
.navbar-bg {
  background-color: var(--bg-color);
  padding: 2rem 0;
}
.navbar-brand {
  font-size: 2.5rem;
}
.navbar li {
  padding: 0 2rem;
}
.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter ;
  position: relative;
}
.navbar li a:hover {
  color: var(--primary-color) !important;
  text-shadow: 0 0 .2rem .3rem rgba(183, 171, 255, .5);
}

.btn-style{
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 2rem;
  width: 12rem;
  height: 4rem;
  text-transform: capitalize;
  font-size: 1.6rem;
}
.btn-style:first-child{
  margin-right: 2rem;;
}
.btn-style:hover {
  border: .1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  text-shadow: 0 0 .2rem .3rem rgba(183, 171, 255, .5);

}
.btn-style-border {
  border: .1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  text-shadow: 0 0 .2rem .3rem rgba(183, 171, 255, .5);
}
.btn-style-border:hover {
  color: #fff;
  background-color:var(--primary-color);
}